*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Voyage";
}

html , body{
    height: 100%;
    width: 100%;
}

#main{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: red;
}

#main #left{
    height: 100%;
    width: 50%;
    background-color: white;
}

#main #right{
    height: 100%;
    width: 50%;
    background-image: url(https://images.unsplash.com/photo-1585794034386-a80c6ec1f4de?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#main #textdiv{
    position: absolute;
    left: 45%;
    top: 35%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 600px;
    background-color: red;

}

#main #textdiv h2{
    user-select: none;
    font-size: 40px;
    padding: 30px 20px;
    
    
}